SNOWFLAKE_USER=DIVIJAVA29
SNOWFLAKE_PASSWORD=MZUC8UhndXSzMTp 
SNOWFLAKE_ACCOUNT=UFNOQTE-RBC29441
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=NYC_DATA
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_ROLE=ACCOUNTADMIN

